<!-- optionA Template -->
<template>
    <!-- Use Slds styling-->
    <div class="slds-grid slds-grid_align-center">
        <!-- Use lightning card as extra styling -->
        <lightning-card title="Option A" icon-name="standard:account" class="slds-col slds-size_2-of-12">
            <hr />
 
            <!-- Use custom CSS from our option A CSS file -->
            <div class="slds-m-around_medium slds-align_absolute-center option-a-background">
 
                <lightning-button
                        variant="brand"
                        label="Toggle template rendered"
                        title="Toggle template rendered"
                        onclick={toggleOptions}
                ></lightning-button>
            </div>
        </lightning-card>
    </div>
 
 
 </template>