<!-- optionB Template -->
<template>
    <!-- Use Slds styling -->
    <div class="slds-grid slds-grid_align-center">
        <!-- Use lightning card as extra styling -->
        <lightning-card title="Option B template" icon-name="standard:account" class="slds-col slds-size_2-of-12">
            <hr />
 
            <div class="slds-m-around_medium slds-align_absolute-center option-b-background">
 
                <lightning-button
                        variant="destructive"
                        label="Toggle template rendered"
                        title="Toggle template rendered"
                        onclick={toggleOptions}
                ></lightning-button>
            </div>
        </lightning-card>
    </div>
 </template>